page-anunciopageone {

  .header::after, .tabs[tabsPlacement="top"] > .tabbar::after, .footer::before, .tabs[tabsPlacement="bottom"] > .tabbar::before {
    background-image: inherit !important;
  }

  .toolbar-title{
    font-size: 1em;
    font-weight: 300;
    color: white;
  }

  .bar-button-default, .bar-button-clear-default, .bar-button-default {
    color: white;
    background-color: transparent;
  }

  .bar-button{
    font-weight: 300;
  }

  .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
  }

  .back-button-text-ios {
    letter-spacing: -.01em;
    display: none;
  }

  .back-button-icon-ios {
    font-size: 1.5em;
  }

  .toolbar-title-ios {

  }

  img{
    max-width: 100%;
  }

  ion-content{
    background-color: black !important;
    top: 2%
  }


  .header::after, .tabs[tabsPlacement="top"] > .tabbar::after, .footer::before, .tabs[tabsPlacement="bottom"] > .tabbar::before {
    left: 0;
    bottom: 0;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    background-image: inherit !important;
    content: "";
  }

}
