<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-row class="top">
        <ion-col col-12>
          <img src="assets/imgs/marca_expand.png"/>
        </ion-col>
        <ion-col col-12 class="set">
          <img src="assets/imgs/ic_expand.png"/>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let ct of cat">
    <div *ngIf="ct.status == 'active'">
      <ion-row class="states">
        <ion-col col-3>
          <img [src]="ct.icon"/>
        </ion-col>
        <ion-col col-9>
          <ion-row>
            <ion-col col-8>
              <div class="state">
                {{ct.name}}
              </div>
              <div class="frequency">
                {{ct.frequency}}
              </div>
            </ion-col>
            <ion-col col-4>
              <button ion-button color="danger" (click)="loadPage(ct.page)">Ouvir</button>
            </ion-col>
          </ion-row>
          <div class="line-bottom"></div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>