<ion-menu [content]="content">

  <ion-header class="logo-app">
    <img src="assets/imgs/logo.png"/>
        <div class="user">Aqui é legal demais!</div>
    <br/>
  </ion-header>

  <ion-content>
    <ion-list class="list-app">
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)" color="dark">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
      <div *ngIf="user !== null; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <button ion-item color="dark" (click)="loadSettings()">
          <ion-icon name="log-in" iten-left> Conta</ion-icon>
        </button>
      </ng-template>
      <ng-template #elseBlock>
        <button ion-item color="dark" (click)="loginPage()">
          <ion-icon name="log-in" iten-left> Login</ion-icon>
        </button>
      </ng-template>
    </ion-list>
  </ion-content>

  <ion-footer>
    <div *ngIf="user !== null">
      <button  ion-button text-center color="dark" (click)="logout()">
        <ion-icon name="log-out"> Sair</ion-icon>
      </button>
    </div>
  </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
